<section>
    <div class="row">
        <div class="container mt-5">
            <div class="col-md-12 text-center">
                <img src="https://icons-for-free.com/download-icon-complete+done+green+success+valid+icon-1320183462969251652_256.ico" height="110px" width="110px">
                <h1 class="text-center">Your Order is Complete!</h1>
                <a href="/orders" class="btn btn-primary">View Orders</a>

            </div>
        </div>
    </div>
</section>ht